<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.df.dtss.gatewayimpl.database.AppInfoMapper">

    <resultMap id="BaseResultMap" type="com.df.dtss.gatewayimpl.database.model.AppInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="app_name" jdbcType="VARCHAR" property="appName"/>
        <result column="app_desc" jdbcType="VARCHAR" property="appDesc"/>
        <result column="registry_type" jdbcType="INTEGER" property="registryType"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="is_deleted" jdbcType="TINYINT" property="isDeleted"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="editor" jdbcType="VARCHAR" property="editor"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
    </resultMap>

    <!-- 字段列表 -->
    <sql id="Base_Column_List">
        id,
            app_name,
            app_desc,
            registry_type,
            address,
            is_deleted,
            creator,
            editor,
            create_time,
            edit_time
        </sql>

    <!-- 根据主键查询 -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dtss_app_info
        where id = #{id} and is_deleted = 0
    </select>

    <!--  查询所有appName  -->
    <select id="getAllApps" resultMap="BaseResultMap">
        select
        id, app_name
        from dtss_app_info
        where is_deleted = 0
    </select>

    <!-- 新增一条记录 -->
    <insert id="insert" parameterType="com.df.dtss.gatewayimpl.database.model.AppInfo" useGeneratedKeys="true"
            keyProperty="id">
        insert into dtss_app_info (<include refid="Base_Column_List"/>)
        values(
        #{id, jdbcType=BIGINT},
        #{appName, jdbcType=VARCHAR},
        #{appDesc, jdbcType=VARCHAR},
        #{registryType, jdbcType=INTEGER},
        #{address, jdbcType=VARCHAR},
        0,
        #{creator, jdbcType=VARCHAR},
        #{editor, jdbcType=VARCHAR},
        now(),
        now()
        )
    </insert>

    <!-- 根据主键更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.df.dtss.gatewayimpl.database.model.AppInfo">
        update dtss_app_info
        <set>
            <if test="appName != null">
                app_name = #{appName, jdbcType=VARCHAR},
            </if>
            <if test="appDesc != null">
                app_desc = #{appDesc, jdbcType=VARCHAR},
            </if>
            <if test="registryType != null">
                registry_type = #{registryType, jdbcType=INTEGER},
            </if>
            <if test="address != null">
                address = #{address, jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted, jdbcType=TINYINT},
            </if>
            <if test="creator != null">
                creator = #{creator, jdbcType=VARCHAR},
            </if>
            <if test="editor != null">
                editor = #{editor, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="editTime != null">
                edit_time = #{editTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id} and is_deleted = 0 limit 1
    </update>

    <!-- 等值查询条件 -->
    <sql id="Equal_Where_List">
        and is_deleted = 0
        <if test="id != null">
            and id = #{id, jdbcType=BIGINT}
        </if>
        <if test="appName != null">
            and app_name = #{appName, jdbcType=VARCHAR}
        </if>
        <if test="appDesc != null">
            and app_desc = #{appDesc, jdbcType=VARCHAR}
        </if>
        <if test="registryType != null">
            and registry_type = #{registryType, jdbcType=INTEGER}
        </if>
        <if test="address != null">
            and address = #{address, jdbcType=VARCHAR}
        </if>
        <if test="isDeleted != null">
            and is_deleted = #{isDeleted, jdbcType=TINYINT}
        </if>
        <if test="creator != null">
            and creator = #{creator, jdbcType=VARCHAR}
        </if>
        <if test="editor != null">
            and editor = #{editor, jdbcType=VARCHAR}
        </if>
    </sql>

    <!-- 范围查询条件，包括 <、 >、between、like、in等 -->
    <sql id="Range_Where_List">
        and is_deleted = 0
        <if test="createTimeFrom != null">
            <![CDATA[
            and create_time >= #{createTimeFrom, jdbcType=TIMESTAMP}
            ]]>
        </if>
        <if test="createTimeTo != null">
            <![CDATA[
            and create_time <= #{createTimeTo, jdbcType=TIMESTAMP}
            ]]>
        </if>
        <if test="editTimeFrom != null">
            <![CDATA[
            and edit_time >= #{editTimeFrom, jdbcType=TIMESTAMP}
            ]]>
        </if>
        <if test="editTimeTo != null">
            <![CDATA[
            and edit_time <= #{editTimeTo, jdbcType=TIMESTAMP}
            ]]>
        </if>
    </sql>

    <!-- 上次查询Id最大值 -->
    <sql id="GtLastMaxId_Where">
        <if test="lastMaxId != null and lastMaxId > 0">
            and id > #{lastMaxId}
        </if>
    </sql>

    <!-- 排序条件 -->
    <sql id="Order_By">
        <if test="sorts != null and sorts.size > 0">
            ORDER BY
            <foreach collection="sorts" item="sortItem" separator=",">
                ${sortItem.column} ${sortItem.type.message}
            </foreach>
        </if>
    </sql>

    <!-- 根据查询参数查询数据 -->
    <select id="selectByCondition" parameterType="com.df.dtss.domain.query.AppInfoQuery" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dtss_app_info
        <where>
            <include refid="Equal_Where_List"/>
            <include refid="Range_Where_List"/>
            <include refid="GtLastMaxId_Where"/>
        </where>
        <include refid="Order_By"/>
        <if test="limit > 0">
            limit #{offset}, #{limit}
        </if>
    </select>

    <!-- 根据查询参数查询数据总量 -->
    <select id="countByCondition" parameterType="com.df.dtss.domain.query.AppInfoQuery" resultType="java.lang.Integer">
        select count(1)
        from dtss_app_info
        <where>
            <include refid="Equal_Where_List"/>
            <include refid="Range_Where_List"/>
        </where>
    </select>

    <!--批量查询-->
    <select id="selectByIds" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dtss_app_info
        where id in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_deleted = 0
    </select>


    <!--批量更新-->
    <select id="updateByIds" parameterType="map">
        update dtss_app_info
        <set>
            <if test="record.appName != null">
                app_name = #{record.appName, jdbcType=VARCHAR},
            </if>
            <if test="record.appDesc != null">
                app_desc = #{record.appDesc, jdbcType=VARCHAR},
            </if>
            <if test="record.registryType != null">
                registry_type = #{record.registryType, jdbcType=INTEGER},
            </if>
            <if test="record.address != null">
                address = #{record.address, jdbcType=VARCHAR},
            </if>
            <if test="record.isDeleted != null">
                is_deleted = #{record.isDeleted, jdbcType=TINYINT},
            </if>
            <if test="record.creator != null">
                creator = #{record.creator, jdbcType=VARCHAR},
            </if>
            <if test="record.editor != null">
                editor = #{record.editor, jdbcType=VARCHAR},
            </if>
            <if test="record.createTime != null">
                create_time = #{record.createTime, jdbcType=TIMESTAMP},
            </if>
            <if test="record.editTime != null">
                edit_time = #{record.editTime, jdbcType=TIMESTAMP},
            </if>
        </set>
        where id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
        and is_deleted = 0
    </select>

</mapper>